/*About Section CSS START*/

section.about {
  @include space-bg();
  padding: 8rem 0;
  .container {
    div.text-container {
      @include make-flex(center, false);
      article {
        .ArticleHead {
          width: 100%;
          h1 {
            width: auto;
            @include text-style(600%, $green_color_primary, $cursive2);
            &:hover {
              @include Glitch.glitch-animation();
            }
            @include responsive-font(400%, 350%, 200%);
          }
        }
        h2 {
          width: auto;
        }
      }
    }

    text-align: center;

    .codepen-holder {
      width: 80%;
      margin: 50px auto;
      height: 50vh;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .codepen {
        width: 100%;
        height: auto;

        padding: 0px 30px;
        padding-bottom: 10px;
        letter-spacing: 4px;
        border-left: 3px solid red;
        @include text-style(17px, $green_color_primary, monospace);
        text-transform: capitalize;
        text-align: left;
        background-color: transparent;
        // box-shadow: 0px 0px 5px rgba(38, 40, 39, 0.623),
        //   0px 0px 25px rgba(53, 54, 53, 0.759);
        scale: 0.9;
      }
    }
  }

  .card-container {
    justify-content: space-around;
    width: 100%;
    height: auto;
    .card-wrapper {
      transition: all linear 250ms;
      scale: 1.2;
      cursor: zoom-out !important;
    }
    .card-wrapper:not(.active) {
      scale: 0.8;
      cursor: zoom-in !important;
    }
    .eduCard {
      &:hover .cardHead {
        inset: auto auto 260px 30px;
      }
    }
    .workCard {
      &:hover .cardHead {
        inset: auto auto 340px 30px;
      }
    }
  }
}
/*About  Section CSS End*/
