/*Skill Section CSS START*/
section.skillSection {
  position: relative;
  padding: 1rem;
  min-height: 100vh;
  background: linear-gradient(rgb(122, 25, 220), rgb(26, 2, 52));
}
/*Skill Section CSS End*/
