@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lilita+One&family=Poppins:wght@100;300;400;500;600;700;900&family=VT323&display=swap");
.project-card-container {
  width: 550px;
  height: 250px;
  background: rgba(9, 41, 89, 0.8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.587), 8px 8px 30px rgba(0, 0, 0, 0.587);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 1rem;
  position: relative;
  perspective: 2500px;
  transform-style: preserve-3d;
  transition: all linear 250ms !important;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .project-card-container {
    width: 440px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .project-card-container {
    width: 385px;
    height: 175px;
  }
}
@media screen and (max-width: 500px) {
  .project-card-container {
    width: 275px;
    height: 125px;
  }
}
.project-card-container .img-holder {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 60%;
  height: 70%;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all linear 350ms 0.4s;
  padding: 0.5rem;
  background: var(--src);
  border-radius: 20px;
  box-shadow: inset -2px -2px 10px white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
  .project-card-container .img-holder {
    width: 50%;
  }
}
.project-card-container .projectCard-title {
  position: absolute;
  inset: auto auto 40% 1rem;
  width: 40%;
  font-size: 180%;
  list-style: none;
  color: transparent;
  text-decoration: none;
  font-family: "Lilita One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #ffd700, #ff4500, #ff1493);
  -webkit-background-clip: text;
          background-clip: text;
  margin-right: 2%;
  font-weight: 800;
  transition: all linear 250ms 0.3s;
  z-index: 11111;
}
@media screen and (max-width: 992px) {
  .project-card-container .projectCard-title {
    font-size: 170%;
  }
}
@media screen and (max-width: 768px) {
  .project-card-container .projectCard-title {
    font-size: 140%;
  }
}
@media screen and (max-width: 500px) {
  .project-card-container .projectCard-title {
    font-size: 100%;
  }
}
.project-card-container .projectCard-body {
  position: absolute;
  inset: auto auto 65px 1rem;
  font-size: 13px;
  list-style: none;
  color: white;
  text-decoration: none;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 5px 0px;
  opacity: 0;
  transition: all linear 250ms 0.2s;
  z-index: 11111;
  width: 80%;
  height: 40%;
}
@media screen and (max-width: 992px) {
  .project-card-container .projectCard-body {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .project-card-container .projectCard-body {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  .project-card-container .projectCard-body {
    font-size: 8px;
  }
}
@media screen and (max-width: 768px) {
  .project-card-container .projectCard-body {
    height: 25%;
    overflow-y: hidden;
    inset: auto auto 75px 1rem;
  }
}
.project-card-container .projectCard-btn-holder {
  position: absolute;
  inset: auto auto 5% 1rem;
  opacity: 0;
  transition: all linear 250ms 0.2s;
  z-index: 11111;
  transform-origin: left;
}
@media screen and (max-width: 500px) {
  .project-card-container .projectCard-btn-holder {
    scale: 0.7;
  }
}
.project-card-container:hover {
  transition: all linear 250ms;
  background: rgba(5, 28, 62, 0.6);
  border-color: transparent;
  border: none;
  box-shadow: 0px 0px 17px rgba(18, 6, 37, 0.691), 5px 5px 10px rgba(14, 4, 30, 0.418);
}
.project-card-container:hover .img-holder {
  filter: brightness(0.5) blur(2px);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all linear 250ms 0s;
  transform-origin: left;
  transform: perspective(1000px) scaleX(0.95) translate3d(15%, -52%, -120px) rotateY(-43deg);
  box-shadow: inset -2px -2px 10px white, 2px 5px 20px rgb(117, 0, 241);
}
.project-card-container:hover .projectCard-title {
  inset: auto auto 72% 1rem;
  transition: all linear 400ms 0.1s;
  width: 100%;
  font-size: 24px;
  list-style: none;
  color: transparent;
  text-decoration: none;
  font-family: "Lilita One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: linear-gradient(to right, #d176ff 0%, #0878e7 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
@media screen and (max-width: 992px) {
  .project-card-container:hover .projectCard-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .project-card-container:hover .projectCard-title {
    font-size: 19px;
  }
}
@media screen and (max-width: 500px) {
  .project-card-container:hover .projectCard-title {
    font-size: 16px;
  }
}
.project-card-container:hover .projectCard-body {
  transition: all linear 250ms 0.4s;
  inset: auto auto 25% 2rem;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .project-card-container:hover .projectCard-body {
    inset: auto auto 35% 2rem;
  }
}
.project-card-container:hover .projectCard-btn-holder {
  transition: all linear 250ms 0.3s;
  inset: auto auto 2% 2rem;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .project-card-container:hover .projectCard-btn-holder {
    inset: auto auto -2% 2rem;
  }
}/*# sourceMappingURL=ProjectCard.css.map */