@import "./variables&mixins";

button.round-btn {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  @media screen and (max-width: $breakpoint-md) {
    scale: 0.9;
  }
  @media screen and (max-width: $breakpoint-sm) {
    scale: 0.75;
  }
  background-color: rgba(128, 128, 128, 0.621);
  border: none;
  outline: none;
  border-radius: 50%;
  @include text-style(37px, rgba(255, 255, 255, 0.609), $default_font);
  cursor: pointer;
  &:hover {
    background-color: rgba(128, 128, 128, 0.717) !important;
    @include text-style(37px, rgb(255, 255, 255), $default_font);
  }
}
button.slide-prev {
  margin-left: 10px;
  left: 0;
}
button.slide-next {
  margin-right: 10px;
  right: 0;
}
