@keyframes glitch-anim {
  0% {
    clip: rect(20px, 9999px, 89px, 0);
    transform: skew(0.56deg);
  }
  5% {
    clip: rect(73px, 9999px, 41px, 0);
    transform: skew(0.81deg);
  }
  10% {
    clip: rect(82px, 9999px, 99px, 0);
    transform: skew(0.14deg);
  }
  15% {
    clip: rect(77px, 9999px, 47px, 0);
    transform: skew(0.99deg);
  }
  20% {
    clip: rect(29px, 9999px, 86px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(79px, 9999px, 28px, 0);
    transform: skew(0.58deg);
  }
  30% {
    clip: rect(56px, 9999px, 18px, 0);
    transform: skew(0.66deg);
  }
  35% {
    clip: rect(5px, 9999px, 18px, 0);
    transform: skew(0.41deg);
  }
  40% {
    clip: rect(32px, 9999px, 16px, 0);
    transform: skew(0.01deg);
  }
  45% {
    clip: rect(69px, 9999px, 15px, 0);
    transform: skew(0.22deg);
  }
  50% {
    clip: rect(56px, 9999px, 99px, 0);
    transform: skew(0.78deg);
  }
  55% {
    clip: rect(65px, 9999px, 100px, 0);
    transform: skew(0.9deg);
  }
  60% {
    clip: rect(14px, 9999px, 65px, 0);
    transform: skew(0.48deg);
  }
  65% {
    clip: rect(2px, 9999px, 83px, 0);
    transform: skew(0.65deg);
  }
  70% {
    clip: rect(56px, 9999px, 13px, 0);
    transform: skew(0.77deg);
  }
  75% {
    clip: rect(35px, 9999px, 40px, 0);
    transform: skew(0.51deg);
  }
  80% {
    clip: rect(48px, 9999px, 29px, 0);
    transform: skew(0.41deg);
  }
  85% {
    clip: rect(90px, 9999px, 22px, 0);
    transform: skew(0.29deg);
  }
  90% {
    clip: rect(4px, 9999px, 7px, 0);
    transform: skew(0.44deg);
  }
  95% {
    clip: rect(55px, 9999px, 59px, 0);
    transform: skew(0.69deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(81px, 9999px, 67px, 0);
    transform: skew(0.07deg);
  }
  5% {
    clip: rect(87px, 9999px, 31px, 0);
    transform: skew(0.99deg);
  }
  10% {
    clip: rect(30px, 9999px, 72px, 0);
    transform: skew(0.14deg);
  }
  15% {
    clip: rect(55px, 9999px, 69px, 0);
    transform: skew(0.66deg);
  }
  20% {
    clip: rect(40px, 9999px, 71px, 0);
    transform: skew(0.25deg);
  }
  25% {
    clip: rect(53px, 9999px, 57px, 0);
    transform: skew(0.1deg);
  }
  30% {
    clip: rect(36px, 9999px, 100px, 0);
    transform: skew(0.83deg);
  }
  35% {
    clip: rect(81px, 9999px, 83px, 0);
    transform: skew(0.03deg);
  }
  40% {
    clip: rect(77px, 9999px, 93px, 0);
    transform: skew(1deg);
  }
  45% {
    clip: rect(1px, 9999px, 63px, 0);
    transform: skew(0.92deg);
  }
  50% {
    clip: rect(53px, 9999px, 76px, 0);
    transform: skew(0.37deg);
  }
  55% {
    clip: rect(25px, 9999px, 51px, 0);
    transform: skew(0.11deg);
  }
  60% {
    clip: rect(100px, 9999px, 95px, 0);
    transform: skew(0.38deg);
  }
  65% {
    clip: rect(22px, 9999px, 57px, 0);
    transform: skew(0.4deg);
  }
  70% {
    clip: rect(45px, 9999px, 12px, 0);
    transform: skew(0.75deg);
  }
  75% {
    clip: rect(65px, 9999px, 93px, 0);
    transform: skew(0.99deg);
  }
  80% {
    clip: rect(53px, 9999px, 73px, 0);
    transform: skew(0.82deg);
  }
  85% {
    clip: rect(97px, 9999px, 86px, 0);
    transform: skew(0.02deg);
  }
  90% {
    clip: rect(52px, 9999px, 8px, 0);
    transform: skew(0.75deg);
  }
  95% {
    clip: rect(91px, 9999px, 16px, 0);
    transform: skew(0.24deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(0deg);
  }
  20% {
    transform: skew(-2deg);
  }
  30% {
    transform: skew(2deg);
  }
  40% {
    transform: skew(-3deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(4deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(1deg);
  }
}/*# sourceMappingURL=glitch.css.map */