@keyframes glitch-anim {
  0% {
    clip: rect(50px, 9999px, 100px, 0);
    transform: skew(0.65deg);
  }
  5% {
    clip: rect(75px, 9999px, 31px, 0);
    transform: skew(0.19deg);
  }
  10% {
    clip: rect(73px, 9999px, 8px, 0);
    transform: skew(0.57deg);
  }
  15% {
    clip: rect(12px, 9999px, 28px, 0);
    transform: skew(0.58deg);
  }
  20% {
    clip: rect(31px, 9999px, 57px, 0);
    transform: skew(0.78deg);
  }
  25% {
    clip: rect(50px, 9999px, 8px, 0);
    transform: skew(0.21deg);
  }
  30% {
    clip: rect(50px, 9999px, 8px, 0);
    transform: skew(0.57deg);
  }
  35% {
    clip: rect(78px, 9999px, 9px, 0);
    transform: skew(0.8deg);
  }
  40% {
    clip: rect(50px, 9999px, 28px, 0);
    transform: skew(0.26deg);
  }
  45% {
    clip: rect(56px, 9999px, 33px, 0);
    transform: skew(0.95deg);
  }
  50% {
    clip: rect(53px, 9999px, 14px, 0);
    transform: skew(0.83deg);
  }
  55% {
    clip: rect(60px, 9999px, 56px, 0);
    transform: skew(0.62deg);
  }
  60% {
    clip: rect(71px, 9999px, 37px, 0);
    transform: skew(0.12deg);
  }
  65% {
    clip: rect(37px, 9999px, 11px, 0);
    transform: skew(0.65deg);
  }
  70% {
    clip: rect(76px, 9999px, 87px, 0);
    transform: skew(0.59deg);
  }
  75% {
    clip: rect(81px, 9999px, 17px, 0);
    transform: skew(0.96deg);
  }
  80% {
    clip: rect(23px, 9999px, 93px, 0);
    transform: skew(0.43deg);
  }
  85% {
    clip: rect(32px, 9999px, 74px, 0);
    transform: skew(0.53deg);
  }
  90% {
    clip: rect(49px, 9999px, 40px, 0);
    transform: skew(0.73deg);
  }
  95% {
    clip: rect(32px, 9999px, 7px, 0);
    transform: skew(0.17deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(24px, 9999px, 91px, 0);
    transform: skew(0.84deg);
  }
  5% {
    clip: rect(28px, 9999px, 95px, 0);
    transform: skew(0.87deg);
  }
  10% {
    clip: rect(16px, 9999px, 60px, 0);
    transform: skew(0.01deg);
  }
  15% {
    clip: rect(45px, 9999px, 78px, 0);
    transform: skew(0.1deg);
  }
  20% {
    clip: rect(32px, 9999px, 79px, 0);
    transform: skew(0.32deg);
  }
  25% {
    clip: rect(95px, 9999px, 15px, 0);
    transform: skew(0.99deg);
  }
  30% {
    clip: rect(91px, 9999px, 32px, 0);
    transform: skew(0.89deg);
  }
  35% {
    clip: rect(71px, 9999px, 90px, 0);
    transform: skew(0.89deg);
  }
  40% {
    clip: rect(21px, 9999px, 66px, 0);
    transform: skew(0.25deg);
  }
  45% {
    clip: rect(43px, 9999px, 86px, 0);
    transform: skew(0.4deg);
  }
  50% {
    clip: rect(74px, 9999px, 21px, 0);
    transform: skew(0.93deg);
  }
  55% {
    clip: rect(44px, 9999px, 74px, 0);
    transform: skew(0.43deg);
  }
  60% {
    clip: rect(90px, 9999px, 1px, 0);
    transform: skew(0.67deg);
  }
  65% {
    clip: rect(70px, 9999px, 7px, 0);
    transform: skew(0.14deg);
  }
  70% {
    clip: rect(59px, 9999px, 78px, 0);
    transform: skew(0.35deg);
  }
  75% {
    clip: rect(21px, 9999px, 68px, 0);
    transform: skew(0.57deg);
  }
  80% {
    clip: rect(89px, 9999px, 13px, 0);
    transform: skew(0.27deg);
  }
  85% {
    clip: rect(40px, 9999px, 95px, 0);
    transform: skew(0.63deg);
  }
  90% {
    clip: rect(89px, 9999px, 43px, 0);
    transform: skew(0.84deg);
  }
  95% {
    clip: rect(96px, 9999px, 76px, 0);
    transform: skew(0.5deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(-4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(4deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(-3deg);
  }
}/*# sourceMappingURL=glitch.css.map */