@keyframes glitch-anim {
  0% {
    clip: rect(64px, 9999px, 43px, 0);
    transform: skew(0.12deg);
  }
  5% {
    clip: rect(55px, 9999px, 29px, 0);
    transform: skew(0.62deg);
  }
  10% {
    clip: rect(85px, 9999px, 67px, 0);
    transform: skew(0.14deg);
  }
  15% {
    clip: rect(92px, 9999px, 75px, 0);
    transform: skew(0.12deg);
  }
  20% {
    clip: rect(57px, 9999px, 54px, 0);
    transform: skew(0.6deg);
  }
  25% {
    clip: rect(85px, 9999px, 91px, 0);
    transform: skew(0.41deg);
  }
  30% {
    clip: rect(84px, 9999px, 73px, 0);
    transform: skew(0.46deg);
  }
  35% {
    clip: rect(15px, 9999px, 21px, 0);
    transform: skew(0.56deg);
  }
  40% {
    clip: rect(83px, 9999px, 89px, 0);
    transform: skew(0.96deg);
  }
  45% {
    clip: rect(88px, 9999px, 70px, 0);
    transform: skew(0.52deg);
  }
  50% {
    clip: rect(58px, 9999px, 17px, 0);
    transform: skew(0.86deg);
  }
  55% {
    clip: rect(54px, 9999px, 89px, 0);
    transform: skew(0.4deg);
  }
  60% {
    clip: rect(73px, 9999px, 10px, 0);
    transform: skew(0.35deg);
  }
  65% {
    clip: rect(75px, 9999px, 5px, 0);
    transform: skew(0.83deg);
  }
  70% {
    clip: rect(17px, 9999px, 18px, 0);
    transform: skew(0.97deg);
  }
  75% {
    clip: rect(48px, 9999px, 49px, 0);
    transform: skew(0.68deg);
  }
  80% {
    clip: rect(52px, 9999px, 17px, 0);
    transform: skew(0.01deg);
  }
  85% {
    clip: rect(27px, 9999px, 100px, 0);
    transform: skew(0.03deg);
  }
  90% {
    clip: rect(13px, 9999px, 32px, 0);
    transform: skew(0.88deg);
  }
  95% {
    clip: rect(80px, 9999px, 71px, 0);
    transform: skew(0.61deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(43px, 9999px, 90px, 0);
    transform: skew(0.85deg);
  }
  5% {
    clip: rect(63px, 9999px, 16px, 0);
    transform: skew(0.86deg);
  }
  10% {
    clip: rect(28px, 9999px, 99px, 0);
    transform: skew(0.6deg);
  }
  15% {
    clip: rect(47px, 9999px, 82px, 0);
    transform: skew(0.33deg);
  }
  20% {
    clip: rect(66px, 9999px, 39px, 0);
    transform: skew(0.52deg);
  }
  25% {
    clip: rect(94px, 9999px, 49px, 0);
    transform: skew(0.13deg);
  }
  30% {
    clip: rect(8px, 9999px, 25px, 0);
    transform: skew(0.8deg);
  }
  35% {
    clip: rect(52px, 9999px, 27px, 0);
    transform: skew(0.47deg);
  }
  40% {
    clip: rect(97px, 9999px, 69px, 0);
    transform: skew(0.35deg);
  }
  45% {
    clip: rect(61px, 9999px, 11px, 0);
    transform: skew(0.8deg);
  }
  50% {
    clip: rect(30px, 9999px, 67px, 0);
    transform: skew(0.88deg);
  }
  55% {
    clip: rect(20px, 9999px, 88px, 0);
    transform: skew(0.41deg);
  }
  60% {
    clip: rect(9px, 9999px, 1px, 0);
    transform: skew(0.44deg);
  }
  65% {
    clip: rect(15px, 9999px, 84px, 0);
    transform: skew(0.01deg);
  }
  70% {
    clip: rect(21px, 9999px, 51px, 0);
    transform: skew(0.46deg);
  }
  75% {
    clip: rect(32px, 9999px, 89px, 0);
    transform: skew(0.93deg);
  }
  80% {
    clip: rect(23px, 9999px, 78px, 0);
    transform: skew(0.94deg);
  }
  85% {
    clip: rect(26px, 9999px, 86px, 0);
    transform: skew(0.8deg);
  }
  90% {
    clip: rect(40px, 9999px, 10px, 0);
    transform: skew(0.9deg);
  }
  95% {
    clip: rect(55px, 9999px, 4px, 0);
    transform: skew(0.66deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(-2deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(3deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(-4deg);
  }
}/*# sourceMappingURL=glitch.css.map */