@use "./components/animation/glitch.scss" as Glitch;
@use "./components/scss/MuskBtn.scss" as Musk;

@import "./components/scss/variables&mixins";
@import "./components/scss/iframe";
@import "./components/scss/IntroSection";
@import "./components/scss/AboutSection";
@import "./components/scss/SkillSection";
@import "./components/scss/ProjectSection";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  color: white;
  @include space-bg();
  @include text-style(17px, black, $default_font);
}

div.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  &.flex-container {
    @include make-flex(space-between, false);
  }
}

.container {
  img.float-image {
    width: 50%;
    height: 70%;
  }
}
section.contact {
  $form-bg: #f8f4e5;
  $form-border: #f45702;
  $form-shadow: #dfae4b;
  $form-focus: #6bd4b1;
  $font-size: 12pt;
  $font-face: "Spartan";
  $font-color: #2a293e;

  position: relative;
  min-height: 200vh;
  width: 100%;
  background: url("./assets/contactBG.jpg") center center no-repeat;
  background-size: cover;
  padding: 2rem 0px;
  .title {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    @include text-style(300%, dodgerblue, $lilita);
    text-align: center;
    font-weight: 700;
  }
  .main-layout {
    height: auto;
    margin-top: 10vh;
    width: 100%;
    background-color: transparent;
    @include make-flex(space-around, false);
    .layout-tab {
      width: 45%;
      height: 80vh !important;
      position: relative;
      background-color: $form-bg;
      box-shadow: 5px 5px 10px $form-shadow;
      .content-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem 0px;
        @include make-flex(space-between, true);
        h1 {
          @include text-style(200%, $form-border, $poppins);
          letter-spacing: 0px;
          font-weight: 700;
        }
      }
    }
    .social-tab {
      .social-anime-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        div#socialAnime {
          height: 100%;
          width: 100%;
        }
      }
      .social-icons {
        @include make-flex(center, false);
        @media screen and (max-width: $breakpoint-md) {
          & {
            flex-direction: row !important;
          }
        }
        gap: 5px;
        background-color: rgba(255, 255, 255, 0.589);
        border-radius: 4px;
        border-left: 3px solid $form-border;
        padding: 0 10px;
        .lottieSocial {
          width: 100px;
          height: 100px;
          cursor: pointer;
          filter: brightness(0.9);
          transition: all linear 250ms;
          &:hover {
            scale: 1.1;
            filter: brightness(1.05);
          }
        }
        #fbAnimation {
          width: 80px;
          height: 80px;
        }
        #igAnimation {
          width: 60px !important;
          height: 60px !important;
        }
        #fiverrAnimation {
          width: 80px !important;
          height: 80px !important;
        }
      }
    }
  }
}
