@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lilita+One&family=Poppins:wght@100;300;400;500;600;700;900&family=VT323&display=swap");
@keyframes glitch-anim {
  0% {
    clip: rect(61px, 9999px, 11px, 0);
    transform: skew(0.42deg);
  }
  5% {
    clip: rect(98px, 9999px, 48px, 0);
    transform: skew(1deg);
  }
  10% {
    clip: rect(82px, 9999px, 18px, 0);
    transform: skew(0.34deg);
  }
  15% {
    clip: rect(15px, 9999px, 58px, 0);
    transform: skew(0.56deg);
  }
  20% {
    clip: rect(49px, 9999px, 60px, 0);
    transform: skew(0.66deg);
  }
  25% {
    clip: rect(31px, 9999px, 42px, 0);
    transform: skew(0.62deg);
  }
  30% {
    clip: rect(79px, 9999px, 49px, 0);
    transform: skew(0.64deg);
  }
  35% {
    clip: rect(94px, 9999px, 40px, 0);
    transform: skew(0.59deg);
  }
  40% {
    clip: rect(46px, 9999px, 28px, 0);
    transform: skew(0.3deg);
  }
  45% {
    clip: rect(74px, 9999px, 1px, 0);
    transform: skew(0.73deg);
  }
  50% {
    clip: rect(79px, 9999px, 4px, 0);
    transform: skew(0.12deg);
  }
  55% {
    clip: rect(40px, 9999px, 86px, 0);
    transform: skew(0.35deg);
  }
  60% {
    clip: rect(68px, 9999px, 19px, 0);
    transform: skew(0.34deg);
  }
  65% {
    clip: rect(77px, 9999px, 5px, 0);
    transform: skew(0.8deg);
  }
  70% {
    clip: rect(90px, 9999px, 9px, 0);
    transform: skew(0.95deg);
  }
  75% {
    clip: rect(16px, 9999px, 50px, 0);
    transform: skew(0.73deg);
  }
  80% {
    clip: rect(65px, 9999px, 29px, 0);
    transform: skew(0.82deg);
  }
  85% {
    clip: rect(30px, 9999px, 70px, 0);
    transform: skew(0.87deg);
  }
  90% {
    clip: rect(35px, 9999px, 64px, 0);
    transform: skew(0.98deg);
  }
  95% {
    clip: rect(29px, 9999px, 31px, 0);
    transform: skew(0.56deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(81px, 9999px, 84px, 0);
    transform: skew(0.23deg);
  }
  5% {
    clip: rect(22px, 9999px, 71px, 0);
    transform: skew(0.04deg);
  }
  10% {
    clip: rect(64px, 9999px, 33px, 0);
    transform: skew(0.21deg);
  }
  15% {
    clip: rect(45px, 9999px, 74px, 0);
    transform: skew(0.27deg);
  }
  20% {
    clip: rect(67px, 9999px, 31px, 0);
    transform: skew(0.03deg);
  }
  25% {
    clip: rect(59px, 9999px, 45px, 0);
    transform: skew(0.75deg);
  }
  30% {
    clip: rect(70px, 9999px, 63px, 0);
    transform: skew(0.15deg);
  }
  35% {
    clip: rect(63px, 9999px, 68px, 0);
    transform: skew(0.71deg);
  }
  40% {
    clip: rect(38px, 9999px, 20px, 0);
    transform: skew(0.45deg);
  }
  45% {
    clip: rect(39px, 9999px, 50px, 0);
    transform: skew(0.89deg);
  }
  50% {
    clip: rect(54px, 9999px, 6px, 0);
    transform: skew(0.49deg);
  }
  55% {
    clip: rect(80px, 9999px, 20px, 0);
    transform: skew(0.1deg);
  }
  60% {
    clip: rect(68px, 9999px, 5px, 0);
    transform: skew(0.27deg);
  }
  65% {
    clip: rect(86px, 9999px, 80px, 0);
    transform: skew(0.62deg);
  }
  70% {
    clip: rect(13px, 9999px, 80px, 0);
    transform: skew(0.82deg);
  }
  75% {
    clip: rect(42px, 9999px, 81px, 0);
    transform: skew(0.42deg);
  }
  80% {
    clip: rect(67px, 9999px, 17px, 0);
    transform: skew(0.92deg);
  }
  85% {
    clip: rect(66px, 9999px, 52px, 0);
    transform: skew(0.6deg);
  }
  90% {
    clip: rect(30px, 9999px, 42px, 0);
    transform: skew(0.92deg);
  }
  95% {
    clip: rect(41px, 9999px, 73px, 0);
    transform: skew(0.59deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(-3deg);
  }
  20% {
    transform: skew(3deg);
  }
  30% {
    transform: skew(-3deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-3deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-2deg);
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
a {
  color: #00ff95;
}

div.musk-btn {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
div.musk-btn button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #07d800;
  -webkit-mask: url("./../src/assets/musk.png");
  mask: url("./../src/assets/musk.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  animation: ani 0.7s steps(22) forwards;
}
div.musk-btn button:hover {
  animation: ani2 0.7s steps(22) forwards;
}
div.musk-btn .mas {
  position: absolute;
  color: #f3efef;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  position: absolute;
  font-size: 11px;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

.iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.834);
  z-index: 11111111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  .iframe-container {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .iframe-container {
    z-index: 1111111111111;
  }
}
.iframe-container .iframe-title {
  position: absolute;
  left: 50%;
  bottom: 4%;
  width: 100%;
  height: auto;
  text-align: center;
  transform: translate(-50%, 0);
  font-size: 250%;
  list-style: none;
  color: transparent;
  text-decoration: none;
  font-family: "VT323", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(to right, rgb(202, 36, 244), rgb(199, 168, 206));
  background-clip: text;
  -webkit-background-clip: text;
}
@media screen and (max-width: 768px) {
  .iframe-container .iframe-title {
    display: none;
  }
}
.iframe-container .iframe-wrapper {
  width: 70%;
  height: 70%;
  position: relative;
}
.iframe-container .iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  border: 2px solid rgb(122, 25, 220);
}
@media screen and (max-width: 768px) {
  .iframe-container .iframe-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.iframe-container .iframe-wrapper .frame-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  .iframe-container .iframe-wrapper .frame-loader {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
.iframe-container .iframe-wrapper .frame-loader::before {
  content: " ";
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 10px solid rgba(37, 36, 36, 0.5);
  border-radius: 50%;
  border-top-color: rgb(122, 25, 220);
  animation: spin cubic-bezier(0.665, 0.34, 0.44, 0.5) 1000ms infinite;
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.iframe-container .iframe-closeBtn {
  position: absolute;
  top: 8%;
  right: 5%;
  scale: 0.7;
}

section.intro-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  background: url("/src/assets/background.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section.intro-section .main {
  padding: 15vh 0px;
  height: 100%;
}
section.intro-section .main div.container {
  height: auto;
  justify-content: space-between;
}
section.intro-section .main div.container div.text-container {
  width: auto !important;
}
section.intro-section .main div.container div.text-container article h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 800%;
  color: white;
  text-rendering: optimizeLegibility;
  width: auto;
}
section.intro-section .main div.container div.text-container article h1:nth-child(1):hover {
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
section.intro-section .main div.container div.text-container article h1:nth-child(1):hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #120c1e;
  clip: rect(74px, 450px, 76px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
section.intro-section .main div.container div.text-container article h1:nth-child(1):hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #0b20d8, 2px 2px #f91717;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}
section.intro-section .main div.container div.text-container article h1:nth-child(2):hover {
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
section.intro-section .main div.container div.text-container article h1:nth-child(2):hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #120c1e;
  clip: rect(74px, 450px, 76px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
section.intro-section .main div.container div.text-container article h1:nth-child(2):hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #0b20d8, 2px 2px #f91717;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}
@media screen and (max-width: 992px) {
  section.intro-section .main div.container div.text-container article h1 {
    font-size: 500%;
  }
}
@media screen and (max-width: 768px) {
  section.intro-section .main div.container div.text-container article h1 {
    font-size: 450%;
  }
}
@media screen and (max-width: 500px) {
  section.intro-section .main div.container div.text-container article h1 {
    font-size: 400%;
  }
}
section.intro-section .main div.container div.text-container article p.designation {
  color: white;
  font-size: 100%;
}
@media screen and (max-width: 992px) {
  section.intro-section .main div.container div.text-container article p.designation {
    font-size: 90%;
  }
}
@media screen and (max-width: 768px) {
  section.intro-section .main div.container div.text-container article p.designation {
    font-size: 60%;
  }
}
@media screen and (max-width: 500px) {
  section.intro-section .main div.container div.text-container article p.designation {
    font-size: 50%;
  }
}
section.intro-section .main div.container div.text-container article p span {
  color: red;
}
section.intro-section .main div.container .img-holder {
  position: relative;
  width: 350px;
  height: 400px;
  background-color: transparent;
  padding: 0rem;
  overflow: visible;
  transition: all linear 250ms;
  box-shadow: -8px 6px 10px black, -8px -10px 20px black, 0px 0px 80px rgba(0, 128, 0, 0.571);
  perspective: 2500px;
  transform-style: preserve-3d;
  transform-origin: top;
}
@media screen and (max-width: 992px) {
  section.intro-section .main div.container .img-holder {
    scale: 0.7;
  }
}
@media screen and (max-width: 768px) {
  section.intro-section .main div.container .img-holder {
    scale: 0.65;
  }
}
@media screen and (max-width: 500px) {
  section.intro-section .main div.container .img-holder {
    scale: 0.5;
  }
}
section.intro-section .main div.container .img-holder:hover {
  box-shadow: none;
}
section.intro-section .main div.container .img-holder:hover img {
  transform: perspective(800px) translateY(-30px) rotateX(20deg);
  box-shadow: 8px 6px 10px black, 8px -10px 20px black, 10px 10px 80px rgba(0, 128, 0, 0.571);
  filter: brightness(0.4) grayscale(0.8);
}
section.intro-section .main div.container .img-holder:hover::before {
  transform: perspective(800px) translate3d(0%, -50%, 300px) rotate(0deg);
  opacity: 1;
}
section.intro-section .main div.container .img-holder::before {
  content: url("./assets/4AIB.gif");
  z-index: 1111;
  position: absolute;
  transition: all linear 300ms;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  background-size: contain;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  background-color: transparent;
  opacity: 0;
}
@media screen and (max-width: 992px) {
  section.intro-section .main div.container .img-holder::before {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
section.intro-section .main div.container .img-holder img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all linear 200ms;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

div.text-container {
  width: auto;
}
div.text-container article {
  color: white;
}
div.text-container article div.ArticleHead {
  width: 100%;
}
div.text-container article div.ArticleHead h1 {
  margin: 0.5rem 0;
  font-weight: 700;
  font-size: 40px;
  list-style: none;
  color: white;
  text-decoration: none;
  font-family: "Lilita One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
div.text-container article div.ArticleChilds {
  width: 100%;
}

/*About Section CSS START*/
section.about {
  background: url("/src/assets/background.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 8rem 0;
}
section.about .container {
  text-align: center;
}
section.about .container div.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  section.about .container div.text-container {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
section.about .container div.text-container article .ArticleHead {
  width: 100%;
}
section.about .container div.text-container article .ArticleHead h1 {
  width: auto;
  font-size: 600%;
  list-style: none;
  color: rgb(18, 233, 18);
  text-decoration: none;
  font-family: "Berkshire Swash", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
section.about .container div.text-container article .ArticleHead h1:hover {
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
section.about .container div.text-container article .ArticleHead h1:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #120c1e;
  clip: rect(74px, 450px, 76px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
section.about .container div.text-container article .ArticleHead h1:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #0b20d8, 2px 2px #f91717;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}
@media screen and (max-width: 992px) {
  section.about .container div.text-container article .ArticleHead h1 {
    font-size: 400%;
  }
}
@media screen and (max-width: 768px) {
  section.about .container div.text-container article .ArticleHead h1 {
    font-size: 350%;
  }
}
@media screen and (max-width: 500px) {
  section.about .container div.text-container article .ArticleHead h1 {
    font-size: 200%;
  }
}
section.about .container div.text-container article h2 {
  width: auto;
}
section.about .container .codepen-holder {
  width: 80%;
  margin: 50px auto;
  height: 50vh;
  overflow-y: scroll;
}
section.about .container .codepen-holder::-webkit-scrollbar {
  display: none;
}
section.about .container .codepen-holder .codepen {
  width: 100%;
  height: auto;
  padding: 0px 30px;
  padding-bottom: 10px;
  letter-spacing: 4px;
  border-left: 3px solid red;
  font-size: 17px;
  list-style: none;
  color: rgb(18, 233, 18);
  text-decoration: none;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-transform: capitalize;
  text-align: left;
  background-color: transparent;
  scale: 0.9;
}
section.about .card-container {
  justify-content: space-around;
  width: 100%;
  height: auto;
}
section.about .card-container .card-wrapper {
  transition: all linear 250ms;
  scale: 1.2;
  cursor: zoom-out !important;
}
section.about .card-container .card-wrapper:not(.active) {
  scale: 0.8;
  cursor: zoom-in !important;
}
section.about .card-container .eduCard:hover .cardHead {
  inset: auto auto 260px 30px;
}
section.about .card-container .workCard:hover .cardHead {
  inset: auto auto 340px 30px;
}

/*About  Section CSS End*/
/*Skill Section CSS START*/
section.skillSection {
  position: relative;
  padding: 1rem;
  min-height: 100vh;
  background: linear-gradient(rgb(122, 25, 220), rgb(26, 2, 52));
}

/*Skill Section CSS End*/
/*Project CSS Start*/
section.project {
  min-height: 100vh;
  height: 150vh;
  width: 100%;
  position: relative;
  background: linear-gradient(rgb(32, 0, 50), rgb(125, 62, 188));
}
section.project::before {
  content: "Projects";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  font-size: 800%;
  list-style: none;
  color: rgba(250, 252, 255, 0.514);
  text-decoration: none;
  font-family: "Lilita One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  section.project::before {
    font-size: 500%;
  }
}
@media screen and (max-width: 768px) {
  section.project::before {
    font-size: 450%;
  }
}
@media screen and (max-width: 500px) {
  section.project::before {
    font-size: 300%;
  }
}
section.project .project-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5rem 0rem;
  z-index: 11111111;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 992px) {
  section.project .project-container {
    grid-template-columns: auto;
  }
}

/*Project Section CSS End*/
section.contact {
  position: relative;
  min-height: 200vh;
  width: 100%;
  background: url("./assets/contactBG.jpg") center center no-repeat;
  background-size: cover;
  padding: 2rem 0px;
}
@media screen and (max-width: 992px) {
  section.contact {
    height: 300vh;
  }
}
section.contact .title {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
  font-size: 300%;
  list-style: none;
  color: dodgerblue;
  text-decoration: none;
  font-family: "Lilita One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  section.contact .title {
    font-size: 280%;
  }
}
@media screen and (max-width: 768px) {
  section.contact .title {
    font-size: 250%;
  }
}
@media screen and (max-width: 500px) {
  section.contact .title {
    font-size: 200%;
  }
}
section.contact .main-layout {
  height: auto;
  margin-top: 10vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  section.contact .main-layout {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
section.contact .main-layout .layout-tab {
  width: 500px;
  height: 90vh !important;
  position: relative;
  background-color: #f8f4e5;
  box-shadow: 5px 5px 10px #dfae4b;
}
@media screen and (max-width: 768px) {
  section.contact .main-layout .layout-tab {
    width: 400px;
    height: 80vh;
  }
}
@media screen and (max-width: 500px) {
  section.contact .main-layout .layout-tab {
    width: 280px;
    height: 60vh;
  }
}
section.contact .main-layout .layout-tab .content-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 0px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
section.contact .main-layout .layout-tab .content-holder h1 {
  font-size: 200%;
  list-style: none;
  color: #f45702;
  text-decoration: none;
  font-family: "Poppins", -apple-system, "Segoe UI", "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  section.contact .main-layout .layout-tab .content-holder h1 {
    font-size: 170%;
  }
}
@media screen and (max-width: 768px) {
  section.contact .main-layout .layout-tab .content-holder h1 {
    font-size: 130%;
  }
}
@media screen and (max-width: 500px) {
  section.contact .main-layout .layout-tab .content-holder h1 {
    font-size: 130%;
  }
}
section.contact .main-layout .social-tab .social-anime-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
section.contact .main-layout .social-tab .social-anime-holder div#socialAnime {
  height: 100%;
  width: 100%;
}
section.contact .main-layout .social-tab .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  gap: 5px;
  width: 300px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.589);
  border-radius: 4px;
  border-left: 3px solid #f45702;
  padding: 0 10px;
}
@media screen and (max-width: 992px) {
  section.contact .main-layout .social-tab .social-icons {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
@media screen and (max-width: 992px) {
  section.contact .main-layout .social-tab .social-icons {
    flex-direction: row !important;
  }
}
@media screen and (max-width: 768px) {
  section.contact .main-layout .social-tab .social-icons {
    flex-direction: row !important;
    width: 200px;
  }
}
section.contact .main-layout .social-tab .social-icons .lottieSocial {
  width: 100px;
  height: 100px;
  cursor: pointer;
  filter: brightness(0.9);
  transition: all linear 250ms;
}
section.contact .main-layout .social-tab .social-icons .lottieSocial:hover {
  scale: 1.1;
  filter: brightness(1.05);
}
section.contact .main-layout .social-tab .social-icons #fbAnimation {
  width: 80px;
  height: 80px;
}
section.contact .main-layout .social-tab .social-icons #igAnimation {
  width: 60px !important;
  height: 60px !important;
}
section.contact .main-layout .social-tab .social-icons #fiverrAnimation {
  width: 80px !important;
  height: 80px !important;
}
section.contact .main-layout .social-tab .social-icons #sfAnimation {
  width: 75px !important;
  height: 75px !important;
}

.Popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11111111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  .Popup-container {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
.Popup-container .Popup-wrapper {
  width: 450px;
  height: 400px;
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  .Popup-container .Popup-wrapper {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
.Popup-container .Popup-wrapper .Popup-title {
  background-color: transparent;
  padding: 0px 1rem;
  width: 100%;
  height: 10%;
  font-size: 24px;
  list-style: none;
  color: black;
  text-decoration: none;
  font-family: "Poppins", -apple-system, "Segoe UI", "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
}
.Popup-container .Popup-wrapper .Popup {
  margin: 10px 0px;
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
}
.Popup-container .Popup-wrapper .Popup .lang-div {
  position: relative;
  font-size: 20px;
  list-style: none;
  color: white;
  text-decoration: none;
  font-family: "Poppins", -apple-system, "Segoe UI", "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  width: 160px;
  background-color: black;
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  cursor: pointer;
}
.Popup-container .Popup-wrapper .Popup .lang-div:hover::before, .Popup-container .Popup-wrapper .Popup .lang-div:hover::after {
  transform: scale(21);
}
.Popup-container .Popup-wrapper .Popup .lang-div:hover .lang-description {
  inset: auto auto 0px 0px;
  transition: inset ease-in 250ms 500ms;
}
.Popup-container .Popup-wrapper .Popup .lang-div::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 50%;
  transform-origin: 50% 50%;
  transition: transform ease-out 250ms 250ms;
  background-color: red;
  scale: 1;
}
.Popup-container .Popup-wrapper .Popup .lang-div::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(115, 8, 221);
  z-index: -11;
  border-bottom-right-radius: 50%;
  transition: transform ease-out 250ms 500ms;
  transform-origin: 50% 50%;
  scale: 1;
}
.Popup-container .Popup-wrapper .Popup .lang-div:nth-child(odd):hover::before {
  z-index: -11;
  transition: transform ease-out 250ms;
}
.Popup-container .Popup-wrapper .Popup .lang-div:nth-child(odd):hover::after {
  z-index: 1;
  transition: transform ease-out 250ms 250ms;
}
.Popup-container .Popup-wrapper .Popup .lang-div:nth-child(even):hover::after {
  z-index: -11;
  transition: transform ease-out 250ms;
}
.Popup-container .Popup-wrapper .Popup .lang-div:nth-child(even):hover::before {
  z-index: 1;
  transition: transform ease-out 250ms 250ms;
}
@media screen and (max-width: 992px) {
  .Popup-container .Popup-wrapper .Popup .lang-div {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
.Popup-container .Popup-wrapper .Popup .lang-div .lang-description {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-size: 13px;
  list-style: none;
  color: white;
  text-decoration: none;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  word-wrap: break-word;
  z-index: 11;
  inset: auto auto -100% 0rem;
  transition: inset ease-out 250ms;
}
@media screen and (max-width: 992px) {
  .Popup-container .Popup-wrapper .Popup .lang-div .lang-description {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}
.Popup-container .Popup-closeBtn {
  position: absolute;
  top: 8%;
  right: 5%;
  scale: 0.7;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  color: white;
  background: url("/src/assets/background.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 17px;
  list-style: none;
  color: black;
  text-decoration: none;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

div.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
div.container.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  div.container.flex-container {
    flex-direction: column !important;
    row-gap: 3rem;
  }
}

.container img.float-image {
  width: 50%;
  height: 70%;
}/*# sourceMappingURL=App.css.map */