@use "./components/animation/glitch.scss" as Glitch;
@use "./components/scss/MuskBtn.scss" as Musk;

@import "./components/scss/variables&mixins";
@import "./components/scss/iframe";
@import "./components/scss/IntroSection";
@import "./components/scss/AboutSection";
@import "./components/scss/SkillSection";
@import "./components/scss/ProjectSection";
@import "./components/scss/ContactSection";
@import "./components/scss/Popup";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  color: white;
  @include space-bg();
  @include text-style(17px, black, $default_font);
}

div.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  &.flex-container {
    @include make-flex(space-between, false);
  }
}

.container {
  img.float-image {
    width: 50%;
    height: 70%;
  }
}
